https://surprise.readthedocs.io/en/stable/index.html

In [7]:
!pip install scikit-surprise

Requirement already satisfied: scikit-surprise in c:\users\kal19\anaconda3\lib\site-packages (1.1.1)
Requirement already satisfied: scipy>=1.0.0 in c:\users\kal19\anaconda3\lib\site-packages (from scikit-surprise) (1.7.1)
Requirement already satisfied: numpy>=1.11.2 in c:\users\kal19\anaconda3\lib\site-packages (from scikit-surprise) (1.20.3)
Requirement already satisfied: joblib>=0.11 in c:\users\kal19\anaconda3\lib\site-packages (from scikit-surprise) (1.1.0)
Requirement already satisfied: six>=1.10.0 in c:\users\kal19\anaconda3\lib\site-packages (from scikit-surprise) (1.16.0)

WARNING: Ignoring invalid distribution -pencv-python (c:\users\kal19\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\kal19\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python (c:\users\kal19\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\kal19\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python (c:\users\kal19\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\kal19\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python (c:\users\kal19\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\kal19\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python (c:\users\kal19\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\kal19\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python (c:\users\kal19\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\kal19\anaconda3\lib\site-packages)

In [9]:
import surprise
print(surprise.__version__)

1.1.1

In [10]:
from surprise import SVD
from surprise import Dataset
from surprise import accuracy
from surprise.model_selection import train_test_split

In [11]:
data = Dataset.load_builtin('ml-100k')
trainset,testset = train_test_split(data,test_size=.25,random_state=0)

Dataset ml-100k could not be found. Do you want to download it? [Y/n] y
Trying to download dataset from http://files.grouplens.org/datasets/movielens/ml-100k.zip...
Done! Dataset ml-100k has been saved to C:\Users\kal19/.surprise_data/ml-100k

In [12]:
data.raw_ratings[:10]

[('196', '242', 3.0, '881250949'),
 ('186', '302', 3.0, '891717742'),
 ('22', '377', 1.0, '878887116'),
 ('244', '51', 2.0, '880606923'),
 ('166', '346', 1.0, '886397596'),
 ('298', '474', 4.0, '884182806'),
 ('115', '265', 2.0, '881171488'),
 ('253', '465', 5.0, '891628467'),
 ('305', '451', 3.0, '886324817'),
 ('6', '86', 3.0, '883603013')]

In [13]:
algo = SVD()
algo.fit(trainset)

In [14]:
predictions = algo.test(testset)
predictions[:5]

[Prediction(uid='120', iid='282', r_ui=4.0, est=3.60987583943451, details={'was_impossible': False}),
 Prediction(uid='882', iid='291', r_ui=4.0, est=3.8718458417489416, details={'was_impossible': False}),
 Prediction(uid='535', iid='507', r_ui=5.0, est=4.092794709096713, details={'was_impossible': False}),
 Prediction(uid='697', iid='244', r_ui=5.0, est=3.8029450577783903, details={'was_impossible': False}),
 Prediction(uid='751', iid='385', r_ui=4.0, est=3.3571300692355392, details={'was_impossible': False})]

In [15]:
# 시용자 id, 아이템 id, 예측 평점
[(pred.uid,pred.iid,pred.est) for pred in predictions[:3]]

[('120', '282', 3.60987583943451),
 ('882', '291', 3.8718458417489416),
 ('535', '507', 4.092794709096713)]

In [16]:
# 사용자 아이디, 아이템 아이디는 문자열로 입력
uid = str(196)
iid = str(302)
pred = algo.predict(uid,iid)
pred

Prediction(uid='196', iid='302', r_ui=None, est=4.286762725463982, details={'was_impossible': False})

In [17]:
accuracy.rmse(predictions)

RMSE: 0.9496

0.9496144501911373

In [22]:
import pandas as pd

ratings = pd.read_csv('./dataset/ml-latest-small/ratings.csv')
ratings
#ratings.to_csv('dataset/ml-latest-small/ratings_noh.csv',index=False, header=False)

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [24]:
ratings2 = pd.read_csv('./dataset/ml-latest-small/ratings_noh.csv')
ratings2

          1     1.1  4.0   964982703
0         1       3  4.0   964981247
1         1       6  4.0   964982224
2         1      47  5.0   964983815
3         1      50  5.0   964982931
4         1      70  3.0   964982400
...     ...     ...  ...         ...
100830  610  166534  4.0  1493848402
100831  610  168248  5.0  1493850091
100832  610  168250  5.0  1494273047
100833  610  168252  5.0  1493846352
100834  610  170875  3.0  1493846415

[100835 rows x 4 columns]

In [31]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [32]:
from surprise import Reader

reader = Reader(line_format = 'user item rating timestamp',sep=',',rating_scale=(0.5,5))
data = Dataset.load_from_file('dataset/ml-latest-small/ratings_noh.csv',reader=reader)

trainset,testset = train_test_split(data, test_size=.25, random_state=0)
algo = SVD(n_factors=50, random_state=0)

algo.fit(trainset)
predictions = algo.test(testset)
accuracy.rmse(predictions)

RMSE: 0.8682

0.8681952927143516

[과제] ratings.csv 데이터로 SVD 클래스를 이용하여 아래와 같이 추천알고리즘을 빌딩하고 평가하세요.
 - 교차 검증 및 하이퍼파라미터 튜닝 : measures(RMSE, MAE), cv=5, param = n_epoch(20,40,60), n_factors(50,100,200)

In [ ]:
# cross_validate()를 이용해 ratings.csv를 DataFrame으로 로딩한 데이터를 5개의 학습 /검증 폴드 데이터 세트로 분리해 교차검증을 수행
# RMSE, MAE로 성능을 평가

In [ ]:
from surprise.model_selection import cross_validate
# 판다스 DataFrame에서 Surprise 데이터 세트로 데이터 로딩
ratings = pd.read_csv('./ml-latest-small/ratings.csv')

[과제] 개인화 영화 추천 시스템을 작성하세요.(잠재요인 협업필터링 방식)
 - 데이터셋 : ratings_noh.csv, movies.csv