In [ ]:
print("Hello Python")

## 파이썬 기초
### 파이썬이란
#### 파이썬의 특징
  -1990년 암스테르담의 귀도 반 로섬(Guido Van Rossum)이 개발한 인터프리터 언어  
  -컴퓨터 프로그래밍 교육을 위해 많이 사용하지만, 기업의 실무를 위해서도 많이 사용하는 언어. 구글에서 만들 소프트웨어의 50%이상이 파이썬으로 작성
  
#### 파이썬의 특징  
 - 파이썬은 인간다운 언어이다.  
 - 파이썬은 문법이 쉬워 빠르게 배울 수 있다. 
 - 파이썬은 무료이지만 강력하다.
 - 파이썬은 간결하다
 - 파이썬은 프로그래밍을 즐기게 해준다
 - 파이썬은 개발 속도가 빠르다
 
#### 파이썬으로 할 수 있는 일
  - 시스템 유틸리티 제작
  - GUI 프로그래밍
  - C/C++와의 결합
  - 웹 프로그래밍
  - 수치 연산 프로그래밍  
  - 데이터베이스 프로그래밍
  - 데이터 분석, 사물 인터넷
  
 #### 참조
  - 표현식: 어떠한 값을 만들어 내는 간단한 코드.

In [3]:
!python -V

Python 3.7.11

In [6]:
# 표현식
print(273)
10+20+30

273

60

In [13]:
# 표현식이 하나 이상씩 모이면 문장
print("Hello Python")
print(52,'Hello Python', 5+3)

Hello Python
52 Hello Python 8

In [14]:
# 문징이 모여서 프로그램
a =  1;b = 1;c=a+b
print(c)

2

In [23]:
# python keyword
import keyword
print(keyword.kwlist)
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

식별자 기본 규칙
- 키워드를 사용하면 안된다.
- 특수문자는 언더 바(_)만 사용한다.
- 숫자로 시작하면 안된다.
- 공백을 포함할 수 없다.

- alpha
- break # 키워드
- alpha10
- _alpha10
- 273alpha # 숫자
- has space # 공백
- Alpha
- ALPHA

 https://bibi6666667.tistory.com/277  
 파이썬은 snake_case와 CamelCase를 모두 사용

 - itemlist ltem_list ItemList
 - loginstatus login_status Login Status
 - 캐멀 케이스(대문자로 시작)클래스
 - 스네이크 케이스(소문자로 시작)뒤에 ()가 있다-함수
 - 스네이크 케이스(소문자로 시작)뒤에 ()가 없다-변수

In [28]:
# 사람이 생각하는 방식을 그대로 표현 할 수 있는 언어

if 3 in [1,2,3,4]:print('3이 있습니다.')

3이 있습니다.

In [40]:
if 17 in[13,14,15,16,17,18,19]:print('17이 있습니다.')

17이 있습니다.

In [49]:
# 파이썬 자료형 - 숫자형(정수, 실수 , 8진수, 16진수)
a = 123 
b = -123
c = 0
d = 1.23
e = 0o177 # 8진수 0o으로 시작.
f = 0xABC #  16진수 0x로 시작
g = 0b101010 # 2진수는 0o로 시작
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)

123
-123
0
1.23
127
2748
42

In [52]:
# 사칙연산
a = 10
b = 2
c = a + b
d = a * b
e = a / b
f = a % b   # 나머지
g = a // b  # 몫
h = 2 ** 3  # 제곱
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)

10
2
12
20
5.0
0
5
8

In [54]:
# 다른 타입간 연산을 안됨
string = "문자열"
number = 273
string + number

TypeError: can only concatenate str (not "int") to str

In [57]:
a = 10
a = "문자"
# a = 100
type(a)

str

In [59]:
# 복합 대입 연산자
num = 10
num += 10
num *= 10
num

200

In [63]:
num = 100
num += 100
num /= 20
num

10.0

In [61]:
# 사용자 입력
input('인사말을 입력하세요:')

인사말을 입력하세요:안녕하세요

'안녕하세요'

In [67]:
num = input('숫자를 입력하세요:')
print(num)
type(num)

숫자를 입력하세요:10
10

str

In [68]:
num1 = input('숫자를 입력하세요')
num2 = input('숫자를 입력하세요')
print(num1 + num2)

숫자를 입력하세요12
숫자를 입력하세요12
1212

In [70]:
# input() 함수를 사용하면 숫자도 문자로 전환되어 숫자인산을 위한 변환 필요
num1 = input('숫자를 입력하세요')
num1_n = int(num1) #int로 숫자변경
num2 = input('숫자를 입력하세요')
num2_n = int(num2)
print(num1_n+num2_n)

숫자를 입력하세요14
숫자를 입력하세요145
159

In [77]:
#0. 3과 3.3을 입력하고 숫자 연산을 수해하여 6.3을 출력하세요
num1 = input('숫자를 입력하세요')
num1_n = int(num1)
num2 = input('숫자를 입력하세요')
num2_n = float(num2) # float로 문자를 숫자로 변환
print(num1_n + num2_n)

숫자를 입력하세요3
숫자를 입력하세요3.3
6.3

In [80]:
# 0. a = 52와 b = 52.237일때  a+b 5252.237으로 출력되도록 a와 b를 문자열 자료형으로 변환하세요

In [82]:
a = 52
b = 52.237
print(str(a)+str(b))

5252.237

In [101]:
#문자열 : "",'',""" """,''' '''
p1 = "python's value is great"
#p2 = 'python's value is great'
print(p1)

python's value is great

In [89]:
s1 = ''"python is valuable" he says'
si

SyntaxError: invalid syntax (Temp/ipykernel_2112/2797158412.py, line 1)

In [93]:
s2 = 'python\'s value is great'
s2

"python's value is great"

In [102]:
y1 = "Once you study data analysis\nYou need Python"
print(y1)
y2 = '''Once you study data analysis
you need Python'''
print(y2)
y3 = """nice you study data analysis
you need Python"""
print(y3)

Once you study data analysis
You need Python
Once you study data analysis
you need Python
nice you study data analysis
you need Python

In [104]:
y1 = "파이썬은 귀도 반 로섬(Guido Van Rossum)이 개발한 인터프리터 언어이다"
print(y1)
y2 = '''파이썬은 컴퓨터 프로그래밍 교육을 위해 많이 사용한다'''
print(y2)
y3 = """파이썬은 인간다운 언어이다"""
print(y3)

파이썬은 귀도 반 로섬(Guido Van Rossum)이 개발한 인터프리터 언어이다
파이썬은 컴퓨터 프로그래밍 교육을 위해 많이 사용한다
파이썬은 인간다운 언어이다

In [106]:
# 문자열 연산
a1 = 'Python'
a2 =  ' is easy to learn'
print(a1 + a2)
print(a1 * 3)
print("_" *20)

Python is easy to learn
PythonPythonPython
____________________

In [109]:
# 자료형 - List
# 리스트는 []로 표시하며 []안의 요소를 콤마로 구분하여 순서있게 나열
list1 = [1,2,3,4,5]
list2 = ['a','b','c'] #문자는 반드시 따옴표를 첨가해야한다
list3 = [1,'a','abc',[1,2,3,4,5],['a','b','c']]
print(list3)

[1, 'a', 'abc', [1, 2, 3, 4, 5], ['a', 'b', 'c']]

In [113]:
# 인댁싱 0부터 시작함
list1 = [1,2,3,4,5]
list1[:]   # 처음부터 끝까지
list3[2]   # 3이 출력
list3[3][4] #5가 출력
list3[4][1] #b가 출력

'b'

In [118]:
# 리스트 수정, 삭제

a = [0,1,2,3,4,5,6,7,8,9]
b = ['a','b','c']
a[0] = 1
b[1] = 'a'

print(a)
print(b)
del b[1]
print(b)

[1, 1, 2, 3, 4, 5, 6, 7, 8, 9]
['a', 'a', 'c']
['a', 'c']

In [121]:
a = [0,1,2,3,4,5,6,7,8,9]
b = ['a','b','c']
c = a + b
print(c)
c[-1] = 1
c

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 1]

In [123]:
c[-2] = 2
c

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 2, 1]

In [130]:
# 정렬
b = [2,4,3,1]
b.sort()
print(b)
# 내림차순
b_d = sorted(b, reverse=True)
print(b_d)
b. reverse()
print(b)

[1, 2, 3, 4]
[4, 3, 2, 1]
[4, 3, 2, 1]

In [134]:
# 정렬 , 내림차순으로 변환
s = [1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 1]
s.sort()
print(s)
s.reverse()
print(s)

[1, 1, 1, 2, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 2, 1, 1, 1]

In [136]:
# 인덱스 위치 반환
c = [1,2,3,4,5]
print(c. index(3))

2

In [160]:
import numpy as np
c = np.random.randint(100, size=100).tolist()
print(c)
c. index(65)

[90, 6, 26, 65, 88, 51, 33, 45, 11, 68, 37, 84, 51, 66, 95, 30, 52, 37, 66, 9, 26, 1, 46, 92, 34, 38, 53, 72, 38, 19, 81, 51, 61, 10, 24, 69, 63, 40, 88, 7, 37, 74, 65, 9, 95, 28, 47, 4, 9, 62, 56, 79, 15, 58, 79, 55, 86, 19, 71, 82, 70, 73, 44, 22, 28, 28, 76, 33, 91, 10, 4, 29, 35, 70, 60, 8, 73, 67, 77, 55, 64, 56, 65, 38, 35, 85, 9, 31, 98, 54, 17, 69, 12, 56, 63, 14, 40, 71, 26, 27]

3

In [143]:
#개수 반환
c = [1,1,3,3,3,5,5]
print(c.count(5))

2

In [152]:
#리스트 확장
h = [1,2,3]
h. extend([4,5])
print(h)
h. append(6)
print(h)
h. insert(0,5)
print(h)
h. insert(7,7)
print(h)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[5, 1, 2, 3, 4, 5, 6]
[5, 1, 2, 3, 4, 5, 6, 7]

In [153]:
#튜플
tuple1 = (1,2,3,4,5)
tuple2 = ('a','b''c')
tuple3 = (1,'a','abc',[1,2,3,4,5],['a','b','c'])

tuple1[:]
tuple3[2]
tuple3[3][4]
tuple3[4][1]

'b'

In [154]:
print(list1)
list1[0] = 6
print(list1)

[1, 2, 3, 4, 5]
[6, 2, 3, 4, 5]

In [155]:
#자료형 - Tuple
#튜플의 요소값은 변경할 수 없음 프로그램에서 그 값이 항상 변하지 않아야 되는 경우에 사용
tuple1[0] =6
print(tuple1)

TypeError: 'tuple' object does not support item assignment

In [156]:
t1 = (1,) # 1개의 요소만 가질 때는 요소 뒤에 콤마를 붙여야 함
print(t1)
t2 = 1,2,3
print(t2)
print(t2 * 3)
t3 = t1 + t2
print(t3)
t4 = (1)
print(t4)
type(t4)

(1,)
(1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
(1, 1, 2, 3)
1

int

In [163]:
#자료형 - 시전(키와 값을 하나의 요소로 하는 순서가 없는 집합) 중괄호로 처리한다
d1 = {'a':1, 'b':2, 'c':3}
print(d1['a'])
d1['b'] = 5
print(d1)

1
{'a': 1, 'b': 5, 'c': 3}

In [164]:
print(d1 .keys())
print(d1 .values())
print(d1 .items())

dict_keys(['a', 'b', 'c'])
dict_values([1, 5, 3])
dict_items([('a', 1), ('b', 5), ('c', 3)])

In [166]:
추가 연습
p1 = {'p':5,'q':6,'r':7,'s':8}
print(p1['q'])
p1['r'] = 10
print(p1)

6
{'p': 5, 'q': 6, 'r': 10, 's': 8}

In [169]:
print(p1 ,keys())
print(p1 ,values())
print(p1 ,items())

NameError: name 'keys' is not defined

In [165]:
# 자료형 - 집합, set(중복을 허용하지 않으며 순서가 없다.)
s1 = set([1,2,3,4,5])
s2 = set('Hell0')
print(s1)
print(s2)

{1, 2, 3, 4, 5}
{'e', 'l', '0', 'H'}

In [170]:
# 집합은 인덱시으로 값을 얻을 수 없으며 필요시 리스트나 튜플로 변환 후 인덱싱
l1 = list(s1)
print(l1[1])
l2 = list(s2)
print(l2[1])

2
l

In [176]:
# Q, s1, s2의 합집합과 교집합을 각각 리시트와 튜플로 출력하세요
# 합집합(s1/s2), 교집합(s1 & s2)
s1 = set([1,2,3,4,5,6])
s2 = set([1,2,3,4,5,6])

print(list(s1|s2))
print(list(s1&s2))
print(tuple(s1|s2))
print(tuple(s1&s2))

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 6)

In [181]:
# 들여쓰기
li = ['a','b','c']
lf 'a' in li:
    print('a가 li에 있습니다.')
else:
    print('a가 li에 없습니다.')

SyntaxError: invalid syntax (Temp/ipykernel_2112/2741407075.py, line 3)

In [180]:
#문자열 포멧
name = '김귀동'
age = 20
f' 나의 이름은 {name}입니다. 나이는{age}입니다.'

' 나의 이름은 김귀동입니다. 나이는20입니다.'

In [188]:
d = {'name':'홍길동', 'age':30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [189]:
y = 3.42134234
f'{y:0.4f}' #소수점 4자리까지 표현하고 총 자리수를 10으로 맞춤
f'{y:10,4f}'

ValueError: Invalid format specifier

In [192]:
#포멧함수
f1 = "{}선수가 {}등입니다.".format('홍길동',1)
# f1 = "{1} 선수가 {0}등입니다." format(1,'홍길동')
print(f1)
print("%s 선수가 %d등입니다." %("홍길동",1))

홍길동선수가 1등입니다.
홍길동 선수가 1등입니다.

In [79]:
f2 = "{}은 {}보다 {}배 쉽습니다.".format('파이썬', '자바', 2)
print(f2)
print("%s은 %s보다 %d배 쉽습니다." %('파이썬', '자바', 2))

파이썬은 자바보다 2배 쉽습니다.
파이썬은 자바보다 2배 쉽습니다.

In [211]:
과제: 아래와 같이 출력하세요.
    12345
         12345
    12.3456789
               12.346

SyntaxError: invalid syntax (Temp/ipykernel_2112/1269838476.py, line 1)

In [235]:
x = 12345
print(x)
f'{x:9.0f}'

12345

'    12345'

In [240]:
# 제어문 - if~elif~else
# "수입과 지출금액을 비교해서 수입이 많으면 저축 증가, 반대이면 빛이증가, 같으면 현상유지"
i = 5,000,000
e = 5,000,000

if i>e:
    print('저축 증가')
elif i<e:
    print('빛이 증가')
else:
    print('현상 유지')

현상 유지

In [242]:
# for 반복문
numbers = [5,15,6,20,7,25]
for number in numbers:
    print(number,end=' ')

5 15 6 20 7 25

In [6]:
# for ~ continue ~ break
# 1~10 법위의 정수에서 부터 5까지만 출력하세요
for i in range(1,11):
    print(i,end=' ')
    if i < 5:
        continue
    else:
        break

1 2 3 4 5

In [21]:
#numbers 리스트에서 15,20,25를 출력하세요 (for 문과 if 조건 사용 필수)
numbers = [5,15,6,20,7,25]
for number in numbers:
    if number > 10:
        print(number,end=' ')
    else: 
        continue

15 20 25

In [23]:
#while  (무한 반복이므로 break로 끊어준다)
# 정수 1부터 n까지 더할 때 그 합이 1000보다 커지게 되는 n과 합을 구하세요

x = 1
sum = 0
while 1:
    sum = sum + x
    if sum > 1000:
       print(x)  
       print(sum)
       break
    x = x + 1

45
1035

In [52]:
#while문을 사용해 1부터 1000까지의 정수중 3의 배수의 합을 구해보세요

i=0
sum=0

while i < 1000:
    i+=1
    if 1%3==0:
        sum = sum+i

print(sum)

0

In [16]:
#[과제] 1부터 100까지의 정수중 5에서 95까지의 합을 구하세요

i=0
sum=0
i= 5
while i <= 95:
        sum=sum+i
        i=i+1

print(sum)

4550

In [27]:
#{과제] while문을 사용하여 1부터 1000까지의 정수중 3과 5의 공배수의 합을 구해 보세요.
sum=0 
i = 0
while i <=1000:
       i = i + 1
       if(i %3!=0) or (i % 5!=0):
          continue
       print(i)
       sum+=i

print(sum)

15
30
45
60
75
90
105
120
135
150
165
180
195
210
225
240
255
270
285
300
315
330
345
360
375
390
405
420
435
450
465
480
495
510
525
540
555
570
585
600
615
630
645
660
675
690
705
720
735
750
765
780
795
810
825
840
855
870
885
900
915
930
945
960
975
990
33165

In [55]:
#과제 1부터 5까지 입력해서 12345를 출력하세요
num1 = input('숫자를 입력하세요')
num2 = input('숫자를 입력하세요')
num3 = input('숫자를 입력하세요')
num4 = input('숫자를 입력하세요')
num5 = input('숫자를 입력하세요')
print(num1 + num2 + num3 + num4 + num5)

숫자를 입력하세요1
숫자를 입력하세요2
숫자를 입력하세요3
숫자를 입력하세요4
숫자를 입력하세요5
12345

In [65]:
#과제 0,1,2,3,4,5,6,7,8,9,'a','b','c'에서 9와 'a'를 삭제후 리스트로 출력하세요
a = [0,1,2,3,4,5,6,7,8,9,'a','b','c']

del a[10]
del a[9]
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 'b', 'c']

In [61]:
#과제 0,1,2,3,4,5,6,7,8,'b','c'에서 c를 삭제후 출력하세요.
a = [0,1,2,3,4,5,6,7,8,'b','c']

del a[10]
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 'b']

In [166]:
#과제 4,8,5,4,8,4,3,9,1,9,를 내림차순으로 정렬하세요
a = [4,8,5,4,8,4,3,9,1,9]
a= sorted(a, reverse=True)
print(a)

[9, 9, 8, 8, 5, 4, 4, 4, 3, 1]

In [4]:
#format 함수를 이용해서 다음과 같은 형식으로 현재 날짜/시간을 출력하세요
#2021년 12월 29일 15시 47분 30초 

import datetime 

d=datetime.datetime.now()
year= d.year
month = d.month
day = d.day
hour = d.hour
minute = d.minute
second = d.second


print(f'{year}년 {month}월 {day}일 {hour}시 {minute}분 {second}초')

2021년 12월 29일 22시 46분 59초

In [23]:
#과제 현재 시각을 오전과 오후로 구분하는 프로그램을 작성하세요
from datetime import datetime

now = datetime.now()
ampm = now.strftime('%p')
ampm_kr = '오전' if ampm == 'AM' else '오후'

In [1]:
#정수를 입력하면 홀수,짝수를 판별하는 프로그램 작성
num=input('number')
if int(num)%2==0:
    print(f'입력한 숫자 {num}은 짝수입니다')
else: 
    print(f'입력한 숫자 {num}은 홀수입니다.')

number8
입력한 숫자 8은 짝수입니다

In [3]:
#과제 태어난 연도를 입력받아 띠를 출력하는 프로그램을 작성하세요
#원숭이, 닭,개,돼지, 쥐,소,범,토끼 용,뱀,말,양띠

year_input = int(input("태어난 해는? "))
birth_year =year_input%12

if birth_year==0:
    print("원숭이 띠")
elif birth_year==1:
    print("닭 띠")
elif birth_year==2:
    print("개 띠")
elif birth_year==3:
    print("돼지 띠")
elif birth_year==4:
    print("쥐 띠")
elif birth_year==5:
    print("소 띠")
elif birth_year==6:
    print("범 띠")
elif birth_year==7:
    print("토끼 띠")
elif birth_year==8:
    print("용 띠")
elif birth_year==9:
    print("뱀 띠")
elif birth_year==10:
    print("말 띠")
else:
    print("양 띠")

태어난 해는? 1961
소 띠

In [24]:

 #계절구분프로그램
#각 계절별 출력 멘트는 계절에 맞게 창작
 #조건문으로 datetime모듈을 import해서 datetime.now함수를 사용해서 작성
import datetime
 t = datetime.datetime.now()
mon =t.month

if mon>=3 and mon<=5:
    print('봄')
elif mon>6 and mon<=8:
    print('여름')
elif mon>=9 and mon<=11:
    print('가을')
else:
    print('겨울')

겨울

In [129]:
#람다 함수를 이용해서 a의 b제곱을 구하는 식으로 만들고
#a,b가 아래와 같이 주어졌을 때 각각의 값을  구하세요
# a = 2, b = 5
# a = 5, b = 2

#print((lambda x: a**b)(x))

print((lambda x: 2**5)(x))
print((lambda x: 5**2)(x))

32
25

In [ ]:
#[[과제] 커피 자판기 프로그램

#시나리오 : 자판기 커피 재고 5잔, 커피 1잔 가격 300원, 재고 범위내에서 300원 이상 돈을 넣으면 거스름돈과 커피를 주고 그렇지 않으면 반환하며 재고가 소진되면 안내멘트 출력
#각 Case별 멘트 출력은 상황에 맞게 창작
#while, if ~ elif ~ else 제어문을 사용하여 작성

cost=300; stock=5

while 1:
    if stock>0:
         buy=input('구매를 원하는 수량을 입력하세요: ')
    if int(buy)>stock:
        print(f'재고가 부족합니다. 남은 수량:{stock}')
        
    elif int(buy)<=stock:
        print(f'구매 수량은 {buy}잔, 금액은 {int(buy)*cost}원 입니다.')
        in_cost=input('금액을 투입하여 주세요. 투입한 금액: ')
        if int(in_cost)==int(buy)*300:
            print('커피 나왔습니다. 감사합니다.')
            stock=stock-int(buy)
            if stock==0:
                print("재고가 모두 소진되었습니다. 판매를 중지합니다.")
                break
        elif int(in_cost)<int(buy)*300:
            print(f'금액이 부족합니다. 투입된 금액 : {in_cost}원, 부족한 금액:{int(buy)*300-int(in_cost)}')
            print('투입한 금액을 반환합니다.')
            continue
        else:
            print(f'투입한 금액은 {in_cost}원, 거스름돈은 {int(in_cost)-int(buy)*300}원 입니다.')
            print('커피와 거스름돈을 챙겨주세요. 감사합니다.')
            stock=stock-int(buy)

In [246]:
#5를 2로 나누었을때의 몫과 나머지를 구하세요
a=5
b=2
print(a // b)   
print(a % b)

2
1

In [248]:
#101의 3승을 구하세요
print(101**3)

1030301

In [254]:
# python과 3.8.3을 합쳐서 python 3.8.3으로 출력하세요
a ='python'
b ='3.8.3'
print(a+b)

python3.8.3

In [255]:
# a=5 a= '10' a= 15일때 a의 자료형은 무엇인가?
a = 5; a = '10'; a =15
type(a)

int

In [ ]:
#5의 3승을 3으로 나누었을때의 나머지를 복합 대입 연산자를 이용해서 구하시요
a=5**3
a%=3
print(a)

In [1]:
#이름을 물어보고 답하는 내용을 출력하세요
name = input("성함을 입력해주세요: ")
f'{name}입니다.'

성함을 입력해주세요: 마경수

'마경수입니다.'

In [5]:

# 숫자 3개를 입력해서 첫번째 숫자를 두번째 숫자 승한 뒤에 세번째 숫자로 나누었을 때 
# 몫을 구하세요.
a = int(input('첫 번째 숫자를 입력해 주세요.'))
b = int(input('두 번째 숫자를 입력해 주세요.'))
c = int(input('세 번째 숫자를 입력해 주세요.'))
d = (a**b)//c

print(d)

첫 번째 숫자를 입력해 주세요.3
두 번째 숫자를 입력해 주세요.4
세 번째 숫자를 입력해 주세요.5
16